www.mulhollandbot.site {
    redir https://mulhollandbot.site{uri}
}

mulhollandbot.site {

    handle_path /api* {
        reverse_proxy localhost:3000
    }

    handle {
        root * /var/www/mulhollandbot.site

        try_files {path} /index.html

        encode gzip zstd

        file_server
    }
}
